@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Open+Sans:wght@300&display=swap");

body,
html {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(107, 113, 142, 0.2777485994397759) 100%
  );
  font-family: "Montserrat Alternates", "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 2.5rem;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.AppBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(88, 155, 255, 1) 100%
  );
  box-shadow: darkgray 0px 5px 2px 0px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.Tab {
  width: 15vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
